<?php
	define('DB_SERVER', 'localhost:3306');
	define('DB_USERNAME', '{{ internal_mysql_user }}');
	define('DB_PASSWORD', '{{ internal_mysql_password }}');
	define('DB_DATABASE', '{{ internal_mysql_db }}');
	//$db = mysqli_connect(DB_SERVER,DB_USERNAME,DB_PASSWORD,DB_DATABASE);
?>
